@model Restaurant

@{
    ViewBag.Title = "Create";
}

<div>

    <h1>Create</h1>

    <div>
        <div asp-validation-summary="All">@Html.ValidationSummary()</div>
        <form method="POST">
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div>
                @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CuisineType)))
                @Html.ValidationMessageFor(m => m.Cuisine)
            </div>
            <input type="submit" />
        </form>
    </div>

</div>