﻿@using OdeToFood.Controllers
@model OdeToFood.Entities.Restaurant

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h1>@Model.Name</h1>
    <div>Id: @Model.Id</div>
    <div>
        Cousine: @Model.Cuisine
    </div>
    <div>@Html.ActionLink("Home", nameof(HomeController.Index))</div>
</div>
