@model Restaurant

@{
    ViewBag.Title = $"Editing {Model.Name}";
}

<div>

    <h1>Editing @Model.Name</h1>

    <div>
        <div asp-validation-summary="All">@Html.ValidationSummary()</div>
        <form method="POST" asp-anti-forgery="true">
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Cuisine"></label>
                <select asp-for="Cuisine" 
                    asp-items="Html.GetEnumSelectList(typeof(CuisineType))">

                </select>
                <span asp-validation-for="Cuisine"></span>
            </div>
            <input type="submit" />
        </form>
    </div>

</div>