﻿@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

@foreach (var restaurant in Model.Restaurants){
    @Html.Partial("_Summary", restaurant)
}

<h1>Welcome!</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
            </td>
        </tr>
    }
</table>

<a asp-action="Create">Create</a>

@section footer {
    <h3>@Model.CurrentMessage</h3>
}
